/javaBasico/semana2/dia6Ejercicio1/nbproject/private/
/javaBasico/semana2/dia6Ejercicio1/build/
/javaBasico/semana2/dia6Ejercicio2/nbproject/private/
/javaBasico/semana2/dia6Ejercicio2/build/
/javaBasico/semana2/Clase7/target/
/javaBasico/semana2/jdbcPrueba/target/
/javaBasico/semana2/clase7jpa/target/
/javaBasico/semana2/dia7Ejercicio1/nbproject/private/
/javaBasico/semana2/dia7Ejercicio1/build/
/javaBasico/semana2/dia8ejercicio1/target/
/javaBasico/semana2/dia8Ejercicio1/target/
/javaBasico/semana2/prueba/target/
